.input-outlined {
    position: relative;
    box-shadow: inset 0 0 0 1px var(--input-outline);
    border-radius: var(--radius-4);
    display: flex;
    align-items: center;
    width: 100%;
    transition: var(--transition-short);
}

.input-outlined:hover {
    box-shadow: inset 0 0 0 1px var(--input-outline-hover);
}

.input-outlined:has(input:focus),
.input-outlined:has(input:not(:placeholder-shown)) {
    box-shadow: inset 0 0 0 2px var(--primary);
}

.input-field {
    height: 56px;
    padding-inline: 16px;
    outline: none;
}

.input-field::placeholder {
    opacity: 0;
    transition: var(--transition-short);
}

.input-field:focus::placeholder {
    opacity: 1;
}

.input-outlined .label {
    position: absolute;
    left: 16px;
    opacity: 0.75;
    background-color: var(--background);
    padding-inline: 4px;
    margin-inline: 4px;
    pointer-events: none;
    transition: var(--transition-short);
}

.input-outlined:has(:focus, input:not(:placeholder-shown)) .label {
    color: var(--primary);
    transform: translateY(-27px) scale(0.75);
    transform-origin: left center;
    opacity: 1;
}

.filter-chip {
    height: 32px;
    background-color: var(--background);
    border: 1px solid var(--outline);
    display: grid;
    place-items: center;
    padding-inline: 16px;
    border-radius: var(--radius-8);
    user-select: none;
    cursor: pointer;
}

.filter-chip .checkbox {
    appearance: none;
    width: 1px;
    height: 1px;
    margin: -1px;
    opacity: 0;
}

.filter-chip:has(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--primary);
}

.filter-chip:has(:checked) {
    background-color: var(--badge-btn);
    border-color: var(--badge-btn);
}


/* ============ Filter Bar ============ */
.filter-bar {
    position: fixed;
    top: 0;
    right: -400px;
    background-color: var(--background);
    max-width: 400px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    visibility: hidden;
    transition: var(--transition-short);
    z-index: 6;
}

.filter-bar.active {
    visibility: visible;
    transform: translateX(-400px);
    transition: var(--transition-medium);
}

.filter-bar .title-wrapper {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.filter-bar .title-wrapper .title-medium {
    margin-inline-end: auto;
}

.filter-bar .close-btn {
    background-color: transparent;
    margin: -8px;
}

.filter-content {
    flex-grow: 1;
    overflow-y: auto;
    overscroll-behavior: contain;
    scrollbar-width: none;
    padding-block-end: 16px;
}

.filter-content::-webkit-scrollbar {
    display: none;
} 

.filter-content .search-wrapper {
    padding: 12px 24px;
}

.accordion-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 16px 24px;
    color: var(--on-background-variant);
}

.accordion-btn .label-large {
    margin-inline-end: auto;
}

.accordion-content {
    padding-inline: 24px;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--transition-short);
}

.accordion-overflow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    overflow: hidden;
}


.accordion-btn[aria-expanded='true'] {
    background-color: var(--alpha-10);
}

.accordion-btn[aria-expanded='true'] .trailing-icon {
    transform: rotate(180deg);
}

.accordion-btn[aria-expanded='true'] + .accordion-content {
    padding-block: 8px 12px;
    grid-template-rows: 1fr;
}

.filter-actions {
    display: flex;
    gap: 12px;
    padding: 24px;
    border-block-start: 1px solid var(--outline);
}

.filter-actions .btn {
    max-width: 100%;
    width: 100%;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: var(--overlay-bg);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-short);
    z-index: 5;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* Recipe Section */
.recipe-container {
    padding-block-end: 36px;
}

.recipe-container .grid-list {
    position: relative;
}

.recipe-container .title-wrapper {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 16px;
}

/* filter btn */
.btn-filter {
    padding-inline: 12px;
}

.btn-filter .wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-filter.active {
    position: fixed;
    bottom: calc(var(--mobile-nav-height) + 16px);
    right: 16px;
    z-index: 1; 
    box-shadow: var(--shadow-2);
    border-radius: var(--radius-8);
    height: 48px;
    padding-inline: 16px;
    gap: 12px;
    transition: none;
    animation: btn-filter-active 200ms var(--transition-timing-function) forwards;
}

@keyframes btn-filter-active {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.badge {
    background-color: var(--error);
    color: var(--white);
    height: 16px;
    min-width: 16px;
    padding-inline: 4px;
    border-radius: var(--radius-pill);
}

.load-more {
    position: relative;
    margin-block-start: 8px;
    align-items: center;
}

.info-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: var(--weight-medium);
    opacity: 0.7;
}


dialog {
    border: none;
    border-radius: var(--radius-8);
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    max-width: 500px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }

  .Add-recipe-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="number"],
  input[type="file"],
  textarea {
    padding: 8px;
    border: 1px solid var(--outline);
    border-radius: var(--radius-4);
    width: 100%;
  }

  textarea {
    padding: 8px;
    border: 1px solid  var(--outline);
    border-radius: 4px;
    resize: none;
  }

  .admin-actions-container {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    pointer-events: none; 
  }
  
  .admin-actions {
    border-radius: var(--radius-8);
    padding: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    transition: transform 0.4s ease, opacity 0.3s ease;
    opacity: 0;
    pointer-events: auto;
  }
  

  .admin-actions:first-child {
    transform: translateX(-100%);
    background-color: rgb(5, 137, 77);
}


.admin-actions:last-child {
      background-color: var(--error);
    transform: translateX(100%);
  }
  
  .card:hover .admin-actions:first-child {
    transform: translateX(0);
    opacity: 1;
  }
  
  .card:hover .admin-actions:last-child {
    transform: translateX(0);
    opacity: 1;
  }
  

  .admin-actions span {
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
  }





@media(min-width: 600px) {
    .filter-bar {
        border-radius: var(--radius-8) 0 0 var(--radius-8);
    }
}

@media(min-width: 992px) {
    .filter-bar,
    .filter-bar.active {
        all: unset;
        position: sticky;
        top: var(--header-height);
        margin-block-start: -16px;
        height: calc(100vh - var(--header-height));
        max-width: 360px;
        width: 100%;
        display: flex;
        flex-direction: column;
        border-inline-end: 1px solid var(--outline);
        overflow: auto;
    }

    .filter-bar::-webkit-scrollbar {
        width: 4px;
    }

    .filter-bar::-webkit-scrollbar-thumb {
        background-color: var(--alpha-20);
    }

    .filter-bar .close-btn {
        display: none;
    }

    .filter-content {
        overflow-y: visible;
    }

    .filter-content .search-wrapper {
        padding-block-start: 0;
    }

    .recipe-page {
        position: relative;
        display: flex;
    }

    .btn-filter,
    .overlay {
        display: none;
    }

    .recipe-container {
        margin: auto;
    }
}